# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/

# IDE & Settings
.vscode/
.idea/
*.swp

# Build & Dist (PyInstaller)
build/
dist/
*.spec

# Logs & Binaries
*.log
drivers/*.inf
tools/*.exe